<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
	<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <script src="../static/jquery-1.12.0.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href={{css}}?v={{version}} type='text/css' />
    <link rel="stylesheet" href={{eval}}?v={{version}} type='text/css' />

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

	<link rel="stylesheet" type="text/css" href="../static/ours.css" />
    <link rel="stylesheet" type="text/css" href="../static/evaluater.css" />

		<style>

			.user-profile {
			float: none;
			margin: 5px 0;
			background-color: #ffffff;
			border-color: #f7f7f7;
			border-style: outset;
			padding: 10px 10px;
			height: 340px;
		  display: inline-block;
		  position:relative;
			}

			.bios{
				display: inline-block;
				width: 75%;
				text-align: left;
				/* margin-left: 15%; */
				position: relative;
				margin-top: 20px;
		}

		.belief-block{
				display: inline-block;
				width: 75%;
				position: relative;
		    margin-left: 26%;
        text-align: left;
		}

			.button{
		    display: inline-block;
				position: relative;
		   	margin-top: 20px;
		    height:100px;
			}

			body {
			  padding: 20px;
			}
			.radar-chart .area {
			  fill-opacity: 1.0;
			}
			.radar-chart.focus .area {
			  fill-opacity: 0.3;
			}
			.area.stars, .stars{
			  fill: #FFD700;
			  stroke: none;
			}
			.area.negative_space, .negative_space .circle {
			  fill: #2a0141;
			  fill-opacity: 0.7;
			  stroke: none;
			}
			.axis line{
				opacity: 0.4;
			}

			.avatar{
				width: 75px;
				height: 75px;
				border-radius: 50%;
				margin-bottom: 30px;
				position: absolute;
				left: 20px;
				top: 20px;
			}

			.dist_pic{
				width: 400px;
				height: 300px;
			}

			.candidate_block{
				display: inline-block;
				text-align: center;
			}
</style>
</head>

<body>
<!-- wanna put the distribution aside the main container -->
<div class="outer-container">

	<div class="dist-profile" id="distribution">
			<img src="../static/easy_part_dist.png" class="dist_pic">
	</div>

	<div id="comparison-container" class="container">
		<div id = "bg-out" class="brand-bgcolor">   <!-- style="padding-top: 20px; padding-bottom: 5px;"> -->
			<div class="progress brand-bgcolor" style="width: 100%;">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%; min-width: 2em">
					{{progress}}%
				</div>
			</div>
		</div>

		<div class="user-profile profile-left" id="person-1" worker="1">
	    <img src="../static/avatar.png" class="avatar">

				<div class="candidate_block">
            <div class="bios" id="person-text-1">
                <p class="text-left">Text here <br/> Another text here </p>
            </div>
						<div class="belief-block">
								<p>How many questions do you think this person can answer correctly in second round?</p>
								<select id="dropdown-1" style="float:left;">
											<option value="default">select your prediction</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
									</select>
							<div id="warning1" class="warning"> Please make a prediction selection. </div>
						</div>

						<div class="button">
                <button class="btn btn-info" id="chooser_button_1_up" worker="1">
                    <div class="chooser-button" id="chooser_button_1" worker="1">Select This Worker</div>
                </button>
            </div>
					</div>
		</div>

		<div class="user-profile profile-middle" id="person-2">
	     <img src="../static/avatar.png" class="avatar">
			 <div class="candidate_block">
            <div class="bios" id="person-text-2">
                <p class="text-left">Text here <br /> Another text here </p>
            </div>
						<div class="belief-block">
							<p>How many questions do you think this person can answer correctly in second round?</p>
									<select id="dropdown-2" style="float:left;">
										<option value="default">select your prediction</option>
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div id="warning2" class="warning"> Please make a prediction selection. </div>
						</div>
						<div class="button">
								<button class="btn btn-info" id="chooser_button_2_up" worker="2">
										<div class="chooser-button" id="chooser_button_2" worker="2">Select This Worker</div>
								</button>
						</div>
			</div>
		</div>

        <div class="user-profile profile-middle" id="person-3">
	    <img src="../static/avatar.png" class="avatar">
					<div class="candidate_block">
            <div class="bios" id="person-text-3">
                <p class="text-left">Text here <br /> Another text here </p>
            </div>
						<div class="belief-block">
							<p>How many questions do you think this person can answer correctly in second round?</p>
									<select id="dropdown-3" style="float:left;">
										<option value="default">select your prediction</option>
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div id="warning3" class="warning"> Please make a prediction selection. </div>
						</div>
						<div class="button">
                <button class="btn btn-info" id="chooser_button_3_up" worker="3">
                    <div class="chooser-button" id="chooser_button_3" worker="3">Select This Worker</div>
                </button>
            </div>
					</div>

		</div>

        <div class="user-profile profile-middle" id="person-4">
	    <img src="../static/avatar.png" class="avatar">
				<div class="candidate_block">
            <div class="bios" id="person-text-4">
                <p class="text-left">Text here <br /> Another text here </p>
            </div>
						<div class="belief-block">
							<p>How many questions do you think this person can answer correctly in second round?</p>
									<select id="dropdown-4" style="float:left;">
										<option value="default">select your prediction</option>
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<div id="warning4" class="warning"> Please make a prediction selection. </div>
						</div>
            <div class="button">
                <button class="btn btn-info" id="chooser_button_4_up" worker="4">
                    <div class="chooser-button" id="chooser_button_4" worker="4">Select This Worker</div>
                </button>
            </div>
				</div>
		</div>

				<div class="user-profile profile-middle" id="person-5">
			<img src="../static/avatar.png" class="avatar">
			<div class="candidate_block">
				<div class="bios" id="person-text-5">
						<p class="text-left">Text here <br /> Another text here </p>
				</div>
				<div class="belief-block">
					<p>How many questions do you think this person can answer correctly in second round?</p>
							<select id="dropdown-5" style="float:left;">
								<option value="default">select your prediction</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<div id="warning5" class="warning"> Please make a prediction selection. </div>
				</div>
				<div class="button">
						<button class="btn btn-info" id="chooser_button_5_up" worker="5">
								<div class="chooser-button" id="chooser_button_5" worker="5">Select This Worker</div>
						</button>
				</div>
			</div>
		</div>

			<div class="user-profile profile-middle" id="person-6">
				<img src="../static/avatar.png" class="avatar">
				<div class="candidate_block">
					<div class="bios" id="person-text-6">
						<p class="text-left">Text here <br /> Another text here </p>
					</div>
					<div class="belief-block">
						<p>How many questions do you think this person can answer correctly in second round?</p>
								<select id="dropdown-6" style="float:left;">
									<option value="default">select your prediction</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<div id="warning6" class="warning"> Please make a prediction selection. </div>
					</div>
					<div class="button">
						<button class="btn btn-info" id="chooser_button_6_up" worker="6">
								<div class="chooser-button" id="chooser_button_6" worker="6">Select This Worker</div>
							</button>
						</div>
				</div>
			</div>

			<div class="user-profile profile-middle" id="person-7">
				<img src="../static/avatar.png" class="avatar">
				<div class="candidate_block">
					<div class="bios" id="person-text-7">
						<p class="text-left">Text here <br /> Another text here </p>
					</div>

					<div class="belief-block">
						<p>How many questions do you think this person can answer correctly in second round?</p>
								<select id="dropdown-7" style="float:left;">
									<option value="default">select your prediction</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<div id="warning7" class="warning"> Please make a prediction selection. </div>
					</div>
					<div class="button">
						<button class="btn btn-info" id="chooser_button_7_up" worker="7">
								<div class="chooser-button" id="chooser_button_7" worker="7">Select This Worker</div>
							</button>
						</div>
				</div>
			</div>

			<div class="user-profile profile-middle" id="person-8">
				<img src="../static/avatar.png" class="avatar">
				<div class="candidate_block">
					<div class="bios" id="person-text-8">
						<p class="text-left">Text here <br /> Another text here </p>
					</div>
					<div class="belief-block">
						<p>How many questions do you think this person can answer correctly in second round?</p>
								<select id="dropdown-8" style="float:left;">
									<option value="default">select your prediction</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
									<div id="warning8" class="warning"> Please make a prediction selection. </div>
					</div>
					<div class="button">
						<button class="btn btn-info" id="chooser_button_8_up" worker="8">
								<div class="chooser-button" id="chooser_button_8" worker="8">Select This Worker</div>
							</button>
						</div>
					</div>
			</div>

				<!-- disable random choice button  -->
        <!-- <div class="user-profile profile-right" id="person-r">
            <div class="bios" id="person-text-r">
                <p class="text-left">Randomly select a worker in the pool. </p>
            </div>

            <div class="button">
                <button class="btn btn-info" id="chooser_button_9_up" worker="9">
                    <div class="button-warning" id="chooser_button_9" worker="9">Randomly Draw</div>
                </button>
            </div>
				</div> -->



	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dialog-close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
		      </div>
		      <div class="modal-body">You are about to choose <p id="worker-name-dialog" style="display: inline"> Name </p> <br />Write the rationale for it!</div>
					<textarea class="form-control" id="rationale" rows="4" placeholder="Enter the rationale..."></textarea>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="dialog-confirm">Confirm</button>
		        <button type="button" class="btn btn-default" id="dialog-cancel">Cancel</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script>
var data = {{first_time|tojson|safe}};
var person_number = {{personnumber}}
console.log(data);
</script>

<script src="http://d3js.org/d3.v3.js"></script>
<script src="{{ours_js}}?v={{version}}"></script>
<script src="{{radar_js}}?v={{version}}"></script>
<!-- <script src={{flying_js}}></script> -->
<!-- <script src={{d3}}></script> -->

</html>
