<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
	<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    	<script src="../static/jquery-3.3.1.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src={{ours2}}></script>
	<script src={{ours}}></script>
	<link rel="stylesheet" href='{{css}}'>
	<!-- from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ -->
    
    <link rel="stylesheet" type="text/css" href="../static/ours.css" />

</head>
<body style="background-color: #333333">
	<div id="row_test" class="row">
		<div class="col-md-offset-1 col-md-10 brand" style="text-align: left;">
			<h1 id="h1_test" style="text-align: center;">Welcome</h1>

			<h2>Purpose and Procedure</h2>
			<p style="font-size: 1.0em">We are studying how people make hiring decisions. We invite you to make hiring decisions for workers who will perform mathematically intensive tasks. The entire task will take less than 15 minutes.
				<!-- writing feedback. -->
				<!--You will be asked to choose between online gig workers. The entire task will take around 10 minutes, and you will be paid $1.50 upon successful completion of all tasks.-->
				<!-- If you agree to participate (no more than {{ time }} minutes are required). -->
				<!-- Each essay will be accompanied by feedback from a worker. We will ask you to evaluate the worker's feedback. -->
				<!-- We will ask you to pick between two online gig workers. -->
			</p>

			<h2>Contacts and Questions</h2>
			<p style="font-size: 1.0em">This study is being conducted by the GroupLens Research lab in the Computer Science and Engineering Department at the University of Minnesota. If you have any questions about this study, please feel free to contact the researchers at leung085@umn.edu. For general information about GroupLens, please visit our <a href="grouplens.org">website</a>. If you have any questions or concerns regarding this study, and would like to talk to someone other than the researchers, you are encouraged to contact the Research Subjects' Advocate Line, D528 Mayo, 420 Delaware St. Southeast, Minneapolis, MN 55455; (612) 625-1650.</p>

			<h2>Responses will be Confidential</h2>
			<p style="font-size: 1.0em">The records of this study will be kept private. In any sort of report we might publish, we will not include any information that makes it possible to identify you. Research records will be stored securely, and only researchers will have access to the records.</p>

			<h2>Participation is Voluntary</h2>
			<p style="font-size: 1.0em">Participation in this study is voluntary. Your decision whether or not to participate will not affect your current or future experience or relations with GroupLens, or the University of Minnesota. If you decide to participate, you are free to not answer any question or withdraw at any time without affecting those relationships. </p>

			<h2>Statement of Consent</h2>
			<p style="font-size: 1.5em">By clicking "I Consent", you consent to participate in this study.</p>
			<div style="text-align:center">
			<a href="{{destination}}" class="btn btn-lg btn-success" style="margin-top: 25px; margin-bottom: 25px; margin-left: auto; margin-right: auto;">I Consent</a>
			</div>
		</div>
		</div>
	</body>
	</html>
