<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href='{{css}}'></script>
	<!-- from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ -->

</head>
<body style="background-color: #333333">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 brand">
			<h1>Scenario</h1>
			<ol>
			<li style="font-size: 1.7em; text-align: left">Imagine you are moving house and need to hire someone to <strong> move big furniture for you. </strong> </li>
			<li style="font-size: 1.7em; text-align: left">Starting from the next page, you will be asked to make a total of 16 comparisons between two workers.</li>
			<li style="font-size: 1.7em; text-align: left">When making each comparison, read the profiles of both users.</li>
			<li style="font-size: 1.7em; text-align: left">Choose option 1 or option 2 to move to the next comparison.</li>
			<li style="font-size: 1.7em; text-align: left"><strong>Please make choices as if you were spending your own money. We will do manual validation and may reject work if it is obvious you did not put in effort.</strong></li>
			</ol>
			<table style="margin-top: 20px;">
				<tr>
					<td>
						<div >
							<img src="{{diagram}}" class="img-responsive" style="max-width: 100%; margin: auto;" alt="diagram of the rating interface"/>
						</div>
					</td>
				</tr>
			</table>

			<a href="evaluater.html" class="btn btn-lg btn-success" style="margin-top: 25px; margin-bottom: 25px;">Ok, Continue</a>
		</div>
	</div>
</body>
</html>
