<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
	<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <script src="../static/jquery-3.3.1.js"></script>

    <script>
    $(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
    </script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href='{{css}}'></script>
	<!-- from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ -->

    <link rel="stylesheet" type="text/css" href="../static/ours.css" />

</head>
<body style="background-color: #333333">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 brand">
			<h1>You've finished {{sequence_pos}}/12, let's move on to next one.</h1>

			<a href="evaluater.html" class="btn btn-lg btn-success" style="margin-top: 25px; margin-bottom: 25px;">Ok, Continue</a>
		</div>
	</div>
</body>
</html>
