.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

h4{
    margin: 0px;
}

text {
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 900px;
}

.rule-list{
  background-color: black;
}

.two-story-container{
  float: left;
  display: inline-block;
  width: 50%;
  height: 180px;
  padding: 2px;
  border: 1px solid black;
}

#div1, #div2{
    float: left;
    /*margin: 10px;*/
    padding: 10px;
    height: 900px;
    /*border: 1px solid black;*/
}

#workspace{
  height: 700px;
}

#canvas{
  height: 100%;
}

#svg_for_vis{
  height: 100%;
}

#div1{
    padding: 0px;
    min-width: 270px;
    max-width: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #222d32;
}

#div1.active {
    margin-left: -270px;
}

#div1 .sidebar-header {
    /*padding: 20px;*/
    height: 7%;
    background: #487ea5;
    color: white;
    text-align: center;
    padding: 9px 0px;
}

#input_add_node{
    height:40px;
    background-color: #303e46;
    color: #979797;
    border-color: #222d32;
}

.navbar-color {
    background-color: #508cb8;
}

.navbar{
    padding: 0;
    min-height: 7%;
}

#instruction{
    /*background-color: #b4b4b4;*/
}

.btn-color, #submit, #dropdownMenu2{
    background-color: #508cb8;
    border-color: #508cb8;
}

#sidebarCollapse:hover, #undo:hover, #submit:hover, #dropdownMenu2:hover{
    background-color: #487ea5;
    border-color: #487ea5;
}

#sidebarCollapse, #undo{
    height: 50px;
    width: 50px;
}

#list-narrative{
    list-style: none;
    margin: 0;
    padding: 0;
}

#div2{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    margin: 0;
    background-color: #eaedf2;
}
/* for  tree visualization */
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    /*stroke: steelblue;*/
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

/*.links {*/
/*    fill: none;*/
/*    stroke: #000000;*/
/*    stroke-width: 2px;*/
/*}*/

.arrow {
    fill: lightsteelblue;
    stroke-width: 1px;
}

.fa-circle-o{
    width: 20px;
    font-size: 12px;
}

.narrative{
    background-color: #242d31;
    width:100%;
    height:40px;
    margin:0;
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    color:white;
}

.narrative:hover{
    background-color: rgba(27, 34, 37, 1);
}

.input-box{
  margin-top: 5px;
  background-color: grey;
  padding: 2px;
  height: 30%;
}

.node-input{
  margin:  auto;
}

.add-rule-button{
  margin: auto;
}

svg{
    width: 100%;
    height: 473px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_body{
    float: left;
    /*border: 1px solid black;*/
    height: 100%;
    font-size: 0.85em;
    padding: 0;
}

.canvas{
  height: 100%;
}

#text_explain{
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: 0.7;*/
    color: #7af84f;
    height: 40%;
    overflow-y: scroll;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#text_explain_general{
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: 0.7;*/
    color: #7af84f;
    height: 95%;
    overflow-y: scroll;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_header{
    height: 5%;
    background-color: #373738;
    margin: 0;
    border-radius: 6px 6px 0px 0px;
    color: #b2b2b3;
}

#question_text{
    text-align: center;
}

.natural_language_text{
    padding-left: 5px;
    margin-bottom: 0;
}

#submit{
    margin-top: 5px;

}

.dropdown-toggle::after{
    margin-left: 0;
}

.card-header{
    height: 40px;
    padding: 0rem 1.25rem;
}

.node circle{
    fill: #5d8cb4;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 1px;
    stroke-width: 3px;
    cursor: pointer;
}

line.selected {
    stroke: red;
    stroke-opacity: 1;
}

.new_line {
    stroke: yellow;
    stroke-opacity: .8;
    stroke-width: 6px;
}

.node.selected circle {
    fill: red;
    stroke-width: 1.5px;
}

.node.selected_target circle {
    fill: pink;
    stroke-width: 1.5px;
}

rect {
    fill: white;
}
