#title{
  font-size: 30px;
  width:100%;
  padding-top: 10px;
  height: 10%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

#instruction{
  font-size: 20px;
  font-family: sans-serif;
  height: 10%;
}


#carouselExampleIndicators{
  height: 80%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
