#title{
  font-size: 30px;
  width:100%;
  padding-top: 10px;
  height: 10%;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

#instruction{
  font-size: 20px;
  font-family: sans-serif;
  height: 10%;
}


#carouselExampleSlidesOnly{
  height: 80%;
  width: 100%;
  background-color: white;
  border: 2px;
  border-color: black;
  border-width: thin;
}

.carousel-inner{
  height: 100%;
  width: 100%;
}

.carousel-item{
  height: 100%;
  width: 100%;
}

.container-fluid{
  text-align:center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rule-display{
  padding-top: 10%;
}

.mod-area{
  height: 80%;
  width: 100%;
  text-align: center;
}

.button-group{
  margin-top: 10px;
  height: 20%;
  width: 100%;
  text-align: center;
}

.condition{
  width: 60px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.5);
}

.result{
  width: 60px;
  height: 40px;
  background-color: rgba(0, 255, 0, 0.5);
  font-size: 20px;
}

.arrow{
  width: 60px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}
