.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
text {
    font-family: sans-serif;
    font-size: 15px;
}

#div1, #div2 {
    float: left;
    margin: 10px;
    padding: 10px;
    /*border: 1px solid black;*/
}

#div1{
    width: 20%;
    height: 633px;
    overflow: scroll;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div2{
    width: 70%;
}
/* for  tree visualization */
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    /*stroke: steelblue;*/
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.arrow {
    fill: lightsteelblue;
    stroke-width: 1px;
}

.narrative{
    background-color: rgba(149, 123, 190, 0.8);
    width:100%;
    height:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    font-size: 0.8em;
    padding-left: 5px;
}

svg{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.text_body{
    float: left;
    /*border: 1px solid black;*/
    height: 500px;
    font-size: 0.85em;
    padding: 0;
}

#text_explain{
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: 0.7;*/
    color: #7af84f;
    height: 95%;
    overflow: scroll;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_header{
    height: 5%;
    background-color: #373738;
    margin: 0;
    border-radius: 6px 6px 0px 0px;
    /*text-align: center;*/
    color: #b2b2b3;
}

#question_text{
    text-align: center;
}
.natural_language_text{
    padding-left: 5px;
    margin-bottom: 0;
}