<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Human-AI co-reasoning system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/stage2.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/090f4edd35.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <nav id="div1">

          <div class="sidebar-header">
              <h4>Options</h4>
          </div>

          <div class="input-group input-group-sm" style="margin: 10px 0px">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 40px; padding-left: 13px;"><i class="fas fa-plus"></i></span>
              </div>
              <!-- Searching bar -->
              <input id="input_add_node" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Type here to add new narratives">
          </div>
          <!-- The list of node narrative -->
          <ul id="list-narrative">

          </ul>
      </nav>

      <div id="div2">
        <div id="title">Stage 2: Word generalization</div>
        <div id="instruction">We want to use your explanation to help our AI understand similar stories in the future. We can achieve this by making the knowledge you have designed more general. Since this AI understands knowledge as "rules," look at each rule and determine how general you can make it while still making sense.</div>
        <div id="carouselExampleIndicators" class="carousel slide rounded container-fluid" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <script src="{% static "js/drag-and-drop.js" %}"></script>
    <script src="{% static "js/carousel.js" %}"></script>
  </body>
</html>
